* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #161615;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;

  display: inline-flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  height: 4rem;
}

.burger {
  width: 24px;
  height: 24px;
  padding: 6px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.burger span {
  display: flex;
  gap: 6px;
  height: 2px;
  width: 18px;
  background: white;
  transition: 0.4s;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 22rem;
  background: #333;
  transition: right 0.4s ease;
  padding-top: 4rem;
  z-index: 5;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 2rem;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Активные стили */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem, 0.3rem);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0.15rem, -0.15rem);
}

.nav.active {
  right: 0;
}

.section_logo {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem 0rem;
  justify-content: center;
  align-items: center;
  @media (max-width: 46.5rem) {
    justify-content: space-between;
  }
}

.section_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.3rem;
  gap: 2.625rem;
  @media (max-width: 46.5rem) {
    display: none;
  }
}

.nav_button {
  background: transparent;
  color: white;
  border: none;
}

.section_search {
  display: flex;
  gap: 1.5rem;
  background: transparent;
}

#search-input {
  height: 2.5rem;
  width: 25rem;
  background: #161615;
  border: 1px solid #444;
  border-radius: 0.25rem;
  color: white;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  @media (max-width: 60rem) {
    width: 15rem;
  }
  @media (max-width: 52.5rem) {
    width: 10rem;
  }
  @media (max-width: 46.5rem) {
    display: none;
  }
}

#search-input::placeholder {
  text-align: center;
  color: #737373;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;

  display: inline-flex;
  align-items: center;
}

.favorite {
  @media (max-width: 46.5rem) {
    display: none;
  }
}

.avatar {
  background-color: transparent;
  border: none;
}

.footer {
  display: none;
  @media (max-width: 46.5rem) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-button {
  display: flex;
  flex-direction: column;
}
